table {
    border-collapse: collapse;
}

tr {
    height: 32px;
}

th {
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 6px;
}

td.data {
    border: 1px solid black;
}

td.red {
    background-color: #ff6e6e;
}

td.blue {
    background-color: #87c3ff;
}

button.emoji {
    font-size: 20px;
    width: 45px;
}

div.loading {
    overflow: hidden;
    height: 32px;
    width: 32px;
}

img.loading {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
}

div.camera-view {
    position: fixed;
    width: 600px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    text-align: center;
}

img.frame {
    width: 100%;
}

div.time {
    margin-top: 10px;
    font-size: 40px;
}

div.flash-box {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    background: red;
    opacity: 0;
}

div.fade-out {
    -webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}